/*
 * css file
 * @author jinglf
 * 
 */
 /* common 全局使用 */
 @font-face {
	font-family: 'iconfont';  /* project id 281827 */
	src: url('//at.alicdn.com/t/font_kf6af883uttbuik9.eot');
	src: url('//at.alicdn.com/t/font_kf6af883uttbuik9.eot?#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_kf6af883uttbuik9.woff') format('woff'),
	url('//at.alicdn.com/t/font_kf6af883uttbuik9.ttf') format('truetype'),
	url('//at.alicdn.com/t/font_kf6af883uttbuik9.svg#iconfont') format('svg');
}
@keyframes bgSize{
	0% {
		background-size : 300% 100%;
	}
	100% {
		background-size : 100% 100%;
	}
}
/* 通用配置项 */
*{
	margin: 0;
    padding: 0;
	font-family: 'Avenir', Helvetica, Arial, sans-serif ,"Microsoft YaHei";
 }
body,html{
    background-color: #fbfbfb;
}
.color-liner{
	height : 3px;
	width : 100%;
	background : linear-gradient(45deg,#ffc700 0%,#e91e1e 33%,#6f27b0 66%,#00ff88 100%);
	background-position : 100% 0;
	animation: bgSize 5s infinite ease-in-out alternate;
}