/*
 * 自定义的一些公用的css
 * @authot jinglf
 */
 /* 字体图标 */
@font-face {
    font-family: 'iconfont';  /* project id 281827 */
    src: url('//at.alicdn.com/t/font_oh39g2kox39pb9.eot');
    src: url('//at.alicdn.com/t/font_oh39g2kox39pb9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_oh39g2kox39pb9.woff') format('woff'),
    url('//at.alicdn.com/t/font_oh39g2kox39pb9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_oh39g2kox39pb9.svg#iconfont') format('svg');
}
.iconfont{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    display: inline;
}
.icon:after,
.icon:before{
    font-family: "iconfont";
    padding-right: 10px;
    font-size: 16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/* animation动画 */
@keyframes bgSize{
	0% {
		background-size : 300% 100%;
	}
	100% {
		background-size : 100% 100%;
	}
}
/* 通用配置项 */
*{
	margin: 0;
    padding: 0;
	font-family: 'Avenir', Helvetica, Arial, sans-serif ,"Microsoft YaHei","iconfont";
 }
ul,li{
    list-style: none;
}
.clear_float:after{
    content : "";
    display: block;
    clear: both;
}
body{
    background-color: #f2f2f2;
}
.main-width{
    width: 1200px;
    margin: 0 auto;
}
/* vue 切换效果------滑动效果 */
.slide-enter,
.slice-leave-active{
    transform: translateY(10px);
    opacity: 0;
}
.slice-leave-active{
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-enter-active{
    transition: all .5s ease;
}
.top-color-liner{
	height : 3px;
	width : 100%;
	background : linear-gradient(45deg,#ffc700 0%,#e91e1e 33%,#6f27b0 66%,#00ff88 100%);
	background-position : 100% 0;
	animation: bgSize 5s infinite ease-in-out alternate;
}
